body {
    font-family: "Lucida Console", "Courier New", monospace; /* choose a font-family */
    background-image: url('/cuisine.png');
    background-repeat: no-repeat;
    background-size: cover; 

    /* background-color: #f1f1f1; choose a background color  center center no-repeat*/
    text-align: center; /* center align the text in the body */
  }
  
  h1 {
    text-align: center;
    text-decoration: solid;
    text-shadow: #4CAF50;
    color: #176119; /* choose a color for the heading */
    margin-top: 50px; /* add a top margin for the heading */
  }
  
  p {
    font-size: 1.2em; /* choose a font-size for the paragraph text */
    line-height: 1.5em; /* choose a line-height for the paragraph text */
    margin-top: 0 auto; /* add a top and bottom margin for the paragraphs */
    text-align: center;
    background-color: rgb(247, 231, 238);
  }
  


  
/*  footer*/
footer {
  color: rgb(34, 5, 5);
  padding: 30px 0;
}


.cont{
  background-color: #78c2ad;
  max-width: 1200px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-4 {
  flex: 1;
  padding: 20px;
  text-align: center;
}

h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}


a {
  color: black;
  text-decoration: none;
}

ul {
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

#cnt {
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  margin: 0 10px;
}

.copyright {
  padding: 15px 0;
}

.copyright p {
  text-align: center;
  font-size: 12px;
  color: black;
  margin: 0;
}



